<app-spinner *ngIf="videos.length == 0" [loadingMessage]="'Cargando Videos'"></app-spinner>

<div class="videos-library" *ngIf="videos.length > 0">
	<app-category-title	class="col-12"
								[categoryName]="'Todos los Videos'"
								[colorHex]="'#6cafbf'"></app-category-title>
	<div *ngFor="let video of videos;" class="video-box last-videos">
		<div class="video" [routerLink]="['/videos/view', video.id_video]">
			<img [src]="video.image" alt="Video Thumbnail">
		</div>
		<div class="description-box">
			<div class="video-title" [routerLink]="['/videos/view', video.id_video]">
				<p class="video-title-text title"> {{ video.title }} </p>
			</div>
			<div class="category-info" [style.background-color]="video.category_color">
				<div class="category-icon">
					<img [src]="'assets/img/categories/' + video.category_icon" alt="Category Icon">
				</div>
				<div class="category-name">
					<p class="category-name-text text-white">{{ video.category_name }}</p>
				</div>
			</div>
			<div class="description-info">
				<p class="description-text"> {{ video.desc_long }} </p>
			</div>
		</div>
	</div>
</div>