<div class="list-categories table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Icono</th>
				<th>Color</th>
				<th>Tipo</th>
				<th>Link</th>
				<th>Visible</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let category of categories">
				<td class="name-td"> {{ category.name }} </td>
				<td class="icon-td">
					<img [src]="'assets/img/categories/' + category.icon" alt="Category Icon" width="30px" height="30px">
				</td>
				<td class="color-td">
					<div class="color-box" [ngStyle]="{'background-color':category.color}"></div>
				</td>
				<td class="type-td"> {{ category.type }} </td>
				<td class="link-td"> {{ category.link }} </td>
				<td class="visible-td"><i class="fa-solid" [ngClass]="category.visible == 1 ? 'fa-eye' : 'fa-eye-slash'"></i></td>
				<td class="actions-td">
					<div class="actions">
						<div class="icon edit" [routerLink]="['/admin/categories/edit', category.id]">
							<i class="fa-solid fa-pen"></i>
						</div>
						<div class="icon delete" (click)="deleteCategory(category.id)">
							<i class="fa-solid fa-trash-can"></i>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<app-spinner *ngIf="loadingCategories" [loadingMessage]="'Cargando Categorias'"></app-spinner>
	<h6 class="subtitle" *ngIf="categories.length == 0">No hay categorías para mostrar</h6>
</div>
