<section class="section-view-video">
	<div class="main-video">
		<iframe width="100%" height="450" [src]="'https://www.youtube.com/embed/' + video.src | safe:'resourceUrl'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<h6 class="title"> {{ video.title }} </h6>
		<app-category-title	[categoryName]="video.category_name"
									[colorHex]="video.category_color"></app-category-title>
		<p> {{ video.desc_long }} </p>
	</div>
	<div class="other-videos scroll">
		<h5 class="text-center other-videos-title"><strong>Otros Videos Relacionados</strong></h5>
		<div *ngFor="let videoCat of videosCat" class="video" [routerLink]="['/videos/view', videoCat.id_video]">
			<div class="thumbnail">
				<img [src]="videoCat.image" alt="Video Thumbnail">
			</div>
			<div class="video-info">
				<div class="title-video">
					<p class="title p-0"> {{ videoCat.title }} </p>
				</div>
				<div class="category-info">
					<p class="category-name"><strong> {{ videoCat.category_name }} </strong></p>
				</div>
			</div>
		</div>
	</div>
</section>
