<div class="list-articles table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Título</th>
				<th>Categoría</th>
				<th>Descripción Corta</th>
				<th>Descripción Larga</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let article of articles">
				<td class="title-td"> {{ article.title }} </td>
				<td class="category-td"> {{ article.category_name }} </td>
				<td class="short-desc-td"> {{ article.desc_short }} </td>
				<td class="long-desc-td"> {{ article.desc_long }} </td>
				<td class="actions-td">
					<div class="actions">
						<div class="icon edit" [routerLink]="['/admin/articles/edit', article.id_article]">
							<i class="fa-solid fa-pen"></i>
						</div>
						<div class="icon view" [routerLink]="['/articles/view', article.id_article]">
							<i class="fa-solid fa-eye"></i>
						</div>
						<div class="icon delete" (click)="deleteArticle(article.id_article)">
							<i class="fa-solid fa-trash-can"></i>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<app-spinner *ngIf="loadingArticles" [loadingMessage]="'Cargando Artículos'"></app-spinner>
	<h6 class="subtitle" *ngIf="articles.length == 0">No hay artículos para mostrar</h6>
</div>