<div class="list-articles table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Título</th>
				<th>Categoría</th>
				<th>Descripción Corta</th>
				<th>Descripción Larga</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="title-td">Aquí el título del artículo</td>
				<td class="category-td">Categoría Artículo</td>
				<td class="short-desc-td">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatibus facilis</td>
				<td class="long-desc-td">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fugit veniam corporis voluptas cupiditate omnis, autem, sed numquam facilis atque est animi optio vel magni, ipsum alias illum aliquid facere?</td>
				<td class="actions-td">
					<app-actions-list-admin></app-actions-list-admin>
				</td>
			</tr>
		</tbody>
	</table>
</div>