<footer class="container">
	<div class="separator">
		
	</div>
	<div class="about-us footer-box">
		<div class="logo">
			<img src="assets/img/logo/logo_color.png" alt="Logo CDIPI">
		</div>
		<div class="description">
			<p>El Centro de Innovación y Desarrollo profesional Integral es una plataforma cuya misión es desarrollar las habilidades de emprendedores y profesionales de todos los ámbitos, ofreciendo un entorno de aprendizaje accesible, innovador, colaborativo y completamente en línea</p>
		</div>
	</div>
	<div class="menu footer-box">
		<a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
		<a class="nav-link" [routerLink]="['/aboutus']" routerLinkActive="active" >Nosotros</a>
		<a class="nav-link" href="/plataforma">Cursos</a>
		<a class="nav-link" href="/plataforma/login/index.php">Iniciar Sesión</a>
	</div>
	<div class="social-networks footer-box">
		<div class="siguenos">
			<p class="title">Síguenos</p>
		</div>
		<div class="social-icons">
			<div class="network facebook">
				<a href="https://www.facebook.com/Innovacion2.0.Franklin.Heiligs" target="_blank">
					<i class="fa-brands fa-facebook-f"></i>
				</a>
			</div>
			<div class="network instagram">
				<a href="https://www.instagram.com/innovation2.0.franklin.heiligs/" target="_blank">
					<i class="fa-brands fa-instagram"></i>
				</a>
			</div>
			<!-- <div class="network whatsapp">
				<a href="" target="_blank">
					<i class="fa-brands fa-whatsapp fa-2x"></i>
				</a>
			</div> -->
		</div>
		<div class="contact-info">
			<div class="email item">
				<div class="icon">
					<i class="fa-solid fa-envelope"></i>
				</div>
				<div class="info">
					<p>Email: info@innovacion2.com</p>
				</div>
			</div>
			<div class="location item">
				<div class="icon">
					<i class="fa-solid fa-location-dot"></i>
				</div>
				<div class="info">
					<img src="https://flagicons.lipis.dev/flags/4x3/ca.svg" alt="Canada Flag" width="15px">
					<p>Ubicación: Montreal CA</p>
				</div>
			</div>
			<!-- <div class="whatsapp item">
				<div class="icon">
					<i class="fa-brands fa-whatsapp"></i>
				</div>
				<div class="info">
					<p>Whatsapp: +1 123 456789</p>
				</div>
			</div>
			<div class="telephone item">
				<div class="icon">
					<i class="fa-solid fa-phone"></i>
				</div>
				<div class="info">
					<p>Teléfono: +1 123 456789</p>
				</div>
			</div> -->
		</div>
	</div>
</footer>
<div class="copyright">
	<small>Copyright &copy; todos los derechos reservados. {{ year }}</small>
</div>