.sidebar {
	padding: 1rem 0;
}
		.sidebar .options .option {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			cursor: pointer;
			transition: all .2s ease-in-out;
		}
		.sidebar .options .option:hover {
			background-color: #fff;
		}
		.sidebar .options .option.active {
			background-color: #fff;
		}
			.sidebar .options .option .icon {
				width: 40px;
				padding: .5rem;
				padding-right: 1rem;
			}
			.sidebar .options .option .label * {
				font-size: .9rem;
			}