<div class="sidebar">
	<div class="options">
		<div class="option" routerLink="/admin/articles" routerLinkActive="active">
			<div class="icon">
				<img src="assets/img/admin/icons/articles.png" alt="Icon Option">
			</div>
			<div class="label no-mobile">
				<p>Articulos</p>
			</div>
		</div>
		<div class="option" routerLink="/admin/videos" routerLinkActive="active">
			<div class="icon">
				<img src="assets/img/admin/icons/videos.png" alt="Icon Option">
			</div>
			<div class="label no-mobile">
				<p>Videos</p>
			</div>
		</div>
		<div class="option" routerLink="/admin/categories" routerLinkActive="active">
			<div class="icon">
				<img src="assets/img/admin/icons/categories.png" alt="Icon Option">
			</div>
			<div class="label no-mobile">
				<p>Categorias</p>
			</div>
		</div>
	</div>
</div>