<app-spinner *ngIf="articles.length == 0" [loadingMessage]="'Cargando Articulos'"></app-spinner>

<div class="all-articles" *ngIf="articles.length > 0">
	<app-category-title	[categoryName]="'Todos los Articulos'"
								[colorHex]="'#2ca9aa'"></app-category-title>
	<div class="last-articles-box">
		<div class="last-article-main" [routerLink]="['/articles/view', articles[0].id_article]">
			<img [src]="'assets/img/articles/' + articles[0].image" width="100%" alt="Article Image">
			<div class="art-info">
				<p class="title"> {{ articles[0].title }} </p>
				<div class="category-info">
					<img [src]="'assets/img/categories/' + articles[0].category_icon" alt="Category Icon">
					<p class="title"> {{ articles[0].category_name }} </p>
				</div>
				<p class="art-description no-mobile"> {{ articles[0].desc_long }} </p>
			</div>
		</div>
		<div class="last-article-up" [routerLink]="['/articles/view', articles[1].id_article]">
			<img [src]="'assets/img/articles/' + articles[1].image" width="100%" alt="Article Image">
			<div class="art-info">
				<p class="title"> {{ articles[1].title }} </p>
				<div class="category-info">
					<img [src]="'assets/img/categories/' + articles[1].category_icon " alt="Category Icon">
					<p class="title"> {{ articles[1].category_name }} </p>
				</div>
				<p class="art-description no-mobile"> {{ articles[1].desc_long }} </p>
			</div>
		</div>		
		<div class="last-article-down" [routerLink]="['/articles/view', articles[2].id_article]">
			<img [src]="'assets/img/articles/' + articles[2].image " width="100%" alt="Article Image">
			<div class="art-info">
				<p class="title"> {{ articles[2].title }} </p>
				<div class="category-info">
					<img [src]="'assets/img/categories/' + articles[2].category_icon " alt="Category Icon">
					<p class="title"> {{ articles[2].category_name }} </p>
				</div>
				<p class="art-description no-mobile"> {{ articles[2].desc_long }} </p>
			</div>
		</div>
	</div>


	<div class="other-articles">
		<div *ngFor="let article of articles; let i = index;" class="article-box" [ngStyle]="{'display': i > 2 ? 'd-flex' : 'none' }" [routerLink]="['/articles/view', article.id_article]">
			<ng-container *ngIf="i > 2">
				<div class="other-art-img">
					<img [src]="'assets/img/articles/' + article.image" width="100%" alt="Article Image">
				</div>
				<div class="other-art-info">
					<p class="title"> {{ article.title }} </p>
					<div class="other-category-info" [style]="'background-color:' + article.category_color">
						<img [src]="'assets/img/categories/' + article.category_icon" alt="Category Icon">
						<p class="title"> {{ article.category_name }} </p>
					</div>
					<p class="art-description no-mobile"> {{ article.desc_long }} </p>
				</div>
			</ng-container>
		</div>
	</div>
</div>