<div class="all-articles">
	<app-category-title	[categoryName]="'Todos los Articulos'"
								[colorHex]="'#2ca9aa'"></app-category-title>
	<div class="last-articles-box">
		<div class="last-article-main" [routerLink]="['/articles/view/1']">
			<img src="https://picsum.photos/id/100/500/300" height="100%" alt="Article Image">
			<div class="art-info">
				<p class="title">Titulo del Articulo</p>
				<div class="category-info">
					<img src="assets/img/articles/categories/cat.png" alt="Category Icon">
					<p class="title">Nombre Categoría</p>
				</div>
				<p class="art-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dicta aspernatur doloribus distinctio a cumque nulla perferendis, eos, consectetur</p>
			</div>
		</div>
		<div class="last-article-up" [routerLink]="['/articles/view/1']">
			<img src="https://picsum.photos/id/101/500/300" height="100%" alt="Article Image">
			<div class="art-info">
				<p class="title">Titulo del Articulo</p>
				<div class="category-info">
					<img src="assets/img/articles/categories/cat.png" alt="Category Icon">
					<p class="title">Nombre Categoría</p>
				</div>
				<p class="art-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dicta aspernatur doloribus distinctio a cumque nulla perferendis, eos, consectetur</p>
			</div>
		</div>		
		<div class="last-article-down" [routerLink]="['/articles/view/1']">
			<img src="https://picsum.photos/id/102/500/300" height="100%" alt="Article Image">
			<div class="art-info">
				<p class="title">Titulo del Articulo</p>
				<div class="category-info">
					<img src="assets/img/articles/categories/cat.png" alt="Category Icon">
					<p class="title">Nombre Categoría</p>
				</div>
				<p class="art-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dicta aspernatur doloribus distinctio a cumque nulla perferendis, eos, consectetur</p>
			</div>
		</div>
	</div>


	<div class="other-articles">
		<div class="article-box" [routerLink]="['/articles/view', 1]">
			<div class="other-art-img">
				<img src="https://picsum.photos/id/103/500/300" width="100%" alt="Article Image">
			</div>
			<div class="other-art-info">
				<p class="title">Titulo del Articulo</p>
				<div class="other-category-info" style="background-color: cadetblue;">
					<img src="assets/img/articles/categories/cat.png" alt="Category Icon">
					<p class="title">Nombre Categoría</p>
				</div>
				<p class="art-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat beatae corporis ut recusandae, aut odit, omnis, temporibus amet voluptates ducimus laborum! Hic pariatur voluptates ab! Laborum maiores repudiandae aspernatur facilis?</p>
			</div>
		</div>
		<div class="article-box" [routerLink]="['/articles/view', 1]">
			<div class="other-art-img">
				<img src="https://picsum.photos/id/104/500/300" width="100%" alt="Article Image">
			</div>
			<div class="other-art-info">
				<p class="title">Titulo del Articulo</p>
				<div class="other-category-info" style="background-color: cadetblue;">
					<img src="assets/img/articles/categories/cat.png" alt="Category Icon">
					<p class="title">Nombre Categoría</p>
				</div>
				<p class="art-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat beatae corporis ut recusandae, aut odit, omnis, temporibus amet voluptates ducimus laborum! Hic pariatur voluptates ab! Laborum maiores repudiandae aspernatur facilis?</p>
			</div>
		</div>
		<div class="article-box" [routerLink]="['/articles/view', 1]">
			<div class="other-art-img">
				<img src="https://picsum.photos/id/106/500/300" width="100%" alt="Article Image">
			</div>
			<div class="other-art-info">
				<p class="title">Titulo del Articulo</p>
				<div class="other-category-info" style="background-color: cadetblue;">
					<img src="assets/img/articles/categories/cat.png" alt="Category Icon">
					<p class="title">Nombre Categoría</p>
				</div>
				<p class="art-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat beatae corporis ut recusandae, aut odit, omnis, temporibus amet voluptates ducimus laborum! Hic pariatur voluptates ab! Laborum maiores repudiandae aspernatur facilis?</p>
			</div>
		</div>
		<div class="article-box" [routerLink]="['/articles/view', 1]">
			<div class="other-art-img">
				<img src="https://picsum.photos/id/107/500/300" width="100%" alt="Article Image">
			</div>
			<div class="other-art-info">
				<p class="title">Titulo del Articulo</p>
				<div class="other-category-info" style="background-color: cadetblue;">
					<img src="assets/img/articles/categories/cat.png" alt="Category Icon">
					<p class="title">Nombre Categoría</p>
				</div>
				<p class="art-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat beatae corporis ut recusandae, aut odit, omnis, temporibus amet voluptates ducimus laborum! Hic pariatur voluptates ab! Laborum maiores repudiandae aspernatur facilis?</p>
			</div>
		</div>
		<div class="article-box" [routerLink]="['/articles/view', 1]">
			<div class="other-art-img">
				<img src="https://picsum.photos/id/108/500/300" width="100%" alt="Article Image">
			</div>
			<div class="other-art-info">
				<p class="title">Titulo del Articulo</p>
				<div class="other-category-info" style="background-color: cadetblue;">
					<img src="assets/img/articles/categories/cat.png" alt="Category Icon">
					<p class="title">Nombre Categoría</p>
				</div>
				<p class="art-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat beatae corporis ut recusandae, aut odit, omnis, temporibus amet voluptates ducimus laborum! Hic pariatur voluptates ab! Laborum maiores repudiandae aspernatur facilis?</p>
			</div>
		</div>
		<div class="article-box" [routerLink]="['/articles/view', 1]">
			<div class="other-art-img">
				<img src="https://picsum.photos/id/109/500/300" width="100%" alt="Article Image">
			</div>
			<div class="other-art-info">
				<p class="title">Titulo del Articulo</p>
				<div class="other-category-info" style="background-color: cadetblue;">
					<img src="assets/img/articles/categories/cat.png" alt="Category Icon">
					<p class="title">Nombre Categoría</p>
				</div>
				<p class="art-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat beatae corporis ut recusandae, aut odit, omnis, temporibus amet voluptates ducimus laborum! Hic pariatur voluptates ab! Laborum maiores repudiandae aspernatur facilis?</p>
			</div>
		</div>
	</div>
</div>