.title-bar {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
	.title-bar .title {
		padding: 0 2rem;
	}
	.title-bar hr {
		height: 1px;
		width: 100%;
		background-color: black;
	}