<app-full-nav-bar></app-full-nav-bar>

<section class="container section-coaching-payment">
	<app-section-title	[title]="'Pago'"></app-section-title>

	<h6 class="title"> {{ title | uppercase}} </h6>
	<h6>Elige la opción que más se adapte a tus necesidades</h6>

	<div class="payment-options">
		<div class="option">
			<h6 class="subtitle">Coaching de Introducción</h6>
			<p>1 sesión de introducción, para que puedas conocer de qué trata y cómo funciona</p>
			<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=6YANSPTV3XPVA&lc=CA&item_name=Coaching%20de%20introducci%c3%b3n&amount=300%2e00&currency_code=USD&button_subtype=services&bn=PP%2dBuyNowBF%3abtn_buynowCC_LG%2egif%3aNonHosted" target="_blank" class="btn btn-second"> <i class="fa-brands fa-paypal"></i> Comprar 1 Sesión</a>
		</div>
		<div class="option">
			<h6 class="subtitle">Coaching de Desarrollo</h6>
			<p>Paquete de 4 sesiones, si quieres desarrollarte eficazmente</p>
			<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=6YANSPTV3XPVA&lc=CA&item_name=Coaching%20de%20desarrollo&amount=2400%2e00&currency_code=USD&button_subtype=services&bn=PP%2dBuyNowBF%3abtn_buynowCC_LG%2egif%3aNonHostedGuest" target="_blank" class="btn btn-second"> <i class="fa-brands fa-paypal"></i> Comprar 4 Sesiones</a>
		</div>
		<div class="option">
			<h6 class="subtitle">Coaching de Equipo o Grupo</h6>
			<p>Si estás interesado en adquirir el servicio para varias persona o un equipo completo</p>
			<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=6YANSPTV3XPVA&lc=CA&item_name=Coaching%20de%20equipo%20o%20grupo&amount=6800%2e00&currency_code=USD&button_subtype=services&bn=PP%2dBuyNowBF%3abtn_buynowCC_LG%2egif%3aNonHosted" target="_blank" class="btn btn-second"> <i class="fa-brands fa-paypal"></i> Comprar para Grupo</a>
		</div>
	</div>
</section>

<app-footer></app-footer>
