.view-article {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto;
}
@media screen and (max-width: 768px) {
	.view-article {
		grid-template-columns: 1fr;
	}
}


	.view-article .main-article {
		grid-column: 1 / 2;
	}
	@media screen and (max-width: 768px) {
		.view-article .main-article {
			grid-column: 1 / -1;
		}
	}
		.view-article .main-article .art-info {
			text-align: justify;
			padding: 1rem;
		}


	.view-article .other-articles {
		grid-column: 2 / 3;
		max-height: 220vh;
		overflow-y: scroll;
		padding: 0 .7rem;
	}
	@media screen and (max-width: 768px) {
		.view-article .other-articles {
			grid-column: 1 / -1;
		}
	}
		.view-article .other-articles .other-article-title {
			flex: 0 100%;
		}
		.view-article .other-articles .article {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 1rem;
			padding: 1rem 0;
			border-top: 1px solid #cacaca;
			border-bottom: 1px solid #cacaca;
			cursor: pointer;
		}
			.view-article .other-articles .article .other-art-image {
				flex: 1 50%;
			}
			.view-article .other-articles .article .other-art-info {
				flex: 1 50%;
				text-align: justify;
			}
				.other-art-info .description-article .description-text {
					font-size: .8rem;
				}