<div class="view-article">
	<div class="main-article">
		<div class="art-image">
			<img src="assets/img/articles/5.jpg" alt="Article Image">
		</div>
		<div class="art-info">
			<h6 class="title">Titulo del Artículo</h6>
			<div class="category-info">
				<app-category-title	[categoryName]="'Categoría Nombre'"
											[colorHex]="'#5a214e'"></app-category-title>
			</div>
			<div class="art-content">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis at odio deserunt cum. Asperiores eius nemo, exercitationem natus omnis tempore. Quas voluptatem assumenda laboriosam temporibus asperiores odit labore ex porro.
				Animi nihil, qui similique quia quaerat, cum provident porro aperiam aliquid excepturi corrupti sed libero veritatis tenetur quasi soluta aliquam et officia omnis. Sint suscipit, minima delectus autem obcaecati voluptas.
				Alias maiores laborum assumenda quam dicta voluptatem provident suscipit ex porro? Expedita ipsa quis neque deleniti quaerat numquam. Earum alias vel nemo error necessitatibus recusandae, excepturi maxime veniam ad ex.
				Quo praesentium enim fugit cumque quaerat blanditiis alias temporibus. Voluptatem nisi impedit itaque eum, dolorum quis voluptates odio nostrum rem? Vitae quis repellendus sed quasi odit reprehenderit! Quis, nobis nostrum?
				Explicabo placeat, quia magni nam ea iste dignissimos laborum quis excepturi sed qui quaerat dolorum nobis nostrum architecto cum facilis corrupti sit nulla fugiat voluptates fuga quo dolor nemo. Optio?
				Fugiat nobis aut itaque quo velit libero aliquam quis totam accusamus magnam quidem eius odio ex dolorem vero, nihil nulla cumque excepturi iusto. Asperiores corporis sunt voluptate fuga, ipsa laborum!</p>

				<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quae vel itaque officiis corrupti repudiandae deserunt, incidunt sequi voluptatum? Autem, ut nostrum! Libero architecto vitae cum quod repellendus ut numquam.</blockquote>

				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores perferendis cum cumque minima. Velit, aperiam? Amet tenetur ea explicabo fuga illum ullam! Quidem placeat, laudantium saepe exercitationem ad sequi voluptatibus!
				Quae placeat molestiae repellat amet rerum ducimus saepe ab ea quas dolore error ex a, culpa nesciunt tenetur earum accusamus dolor nostrum exercitationem eveniet corrupti. Distinctio numquam optio doloremque nulla?
				Nam similique obcaecati adipisci itaque natus rerum tempora quae. Repellendus repudiandae suscipit iste nisi earum optio necessitatibus architecto nihil, mollitia, doloremque quas rem voluptates pariatur accusamus quisquam deserunt error tenetur!
				Quidem quasi voluptatem eius ratione unde deleniti, quo eveniet praesentium in, enim neque id necessitatibus nostrum facilis perspiciatis quibusdam fugit! Eos asperiores facere magni, enim eius quibusdam minima expedita quas.
				Similique nemo numquam, facere impedit laborum voluptas corrupti praesentium a repellat, veniam accusantium animi quod dolore quisquam rerum ratione, fugit obcaecati in ab architecto voluptatibus quibusdam at! Reiciendis, praesentium similique!
				Dolore impedit quo tempora. Cum, non ipsam, iusto dicta, distinctio debitis ipsum optio deserunt necessitatibus nostrum impedit quam consequatur odit veritatis eos ab? Doloribus magni hic ullam! Dignissimos, suscipit maiores!</p>
			</div>
		</div>
	</div>
	<div class="other-articles scroll">
		<h5 class="text-center other-articles-title"><strong>Otros Artículos de Interés</strong></h5>
		<div class="article">
			<div class="other-art-image">
				<img src="https://picsum.photos/id/320/500/300" alt="Article Image">
			</div>
			<div class="other-art-info">
				<div class="title-article">
					<p class="title p-0">Título del Artículo</p>
				</div>
				<div class="description-article">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae consectetur doloribus voluptates totam id architecto commodi!</p>
				</div>
			</div>
		</div>
		<div class="article">
			<div class="other-art-image">
				<img src="https://picsum.photos/id/321/500/300" alt="Article Image">
			</div>
			<div class="other-art-info">
				<div class="title-article">
					<p class="title p-0">Título del Artículo</p>
				</div>
				<div class="description-article">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae consectetur doloribus voluptates totam id architecto commodi!</p>
				</div>
			</div>
		</div>
		<div class="article">
			<div class="other-art-image">
				<img src="https://picsum.photos/id/322/500/300" alt="Article Image">
			</div>
			<div class="other-art-info">
				<div class="title-article">
					<p class="title p-0">Título del Artículo</p>
				</div>
				<div class="description-article">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae consectetur doloribus voluptates totam id architecto commodi!</p>
				</div>
			</div>
		</div>
		<div class="article">
			<div class="other-art-image">
				<img src="https://picsum.photos/id/323/500/300" alt="Article Image">
			</div>
			<div class="other-art-info">
				<div class="title-article">
					<p class="title p-0">Título del Artículo</p>
				</div>
				<div class="description-article">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae consectetur doloribus voluptates totam id architecto commodi!</p>
				</div>
			</div>
		</div>
		<div class="article">
			<div class="other-art-image">
				<img src="https://picsum.photos/id/324/500/300" alt="Article Image">
			</div>
			<div class="other-art-info">
				<div class="title-article">
					<p class="title p-0">Título del Artículo</p>
				</div>
				<div class="description-article">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae consectetur doloribus voluptates totam id architecto commodi!</p>
				</div>
			</div>
		</div>
		<div class="article">
			<div class="other-art-image">
				<img src="https://picsum.photos/id/325/500/300" alt="Article Image">
			</div>
			<div class="other-art-info">
				<div class="title-article">
					<p class="title p-0">Título del Artículo</p>
				</div>
				<div class="description-article">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae consectetur doloribus voluptates totam id architecto commodi!</p>
				</div>
			</div>
		</div>
		<div class="article">
			<div class="other-art-image">
				<img src="https://picsum.photos/id/326/500/300" alt="Article Image">
			</div>
			<div class="other-art-info">
				<div class="title-article">
					<p class="title p-0">Título del Artículo</p>
				</div>
				<div class="description-article">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae consectetur doloribus voluptates totam id architecto commodi!</p>
				</div>
			</div>
		</div>
		<div class="article">
			<div class="other-art-image">
				<img src="https://picsum.photos/id/327/500/300" alt="Article Image">
			</div>
			<div class="other-art-info">
				<div class="title-article">
					<p class="title p-0">Título del Artículo</p>
				</div>
				<div class="description-article">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae consectetur doloribus voluptates totam id architecto commodi!</p>
				</div>
			</div>
		</div>
	</div>
</div>