<div class="view-article">
	<div class="main-article">
		<div class="art-image">
			<img [src]="'assets/img/articles/' + article.image" alt="Article Image">
		</div>
		<div class="art-info">
			<h6 class="title"> {{ article.title }} </h6>
			<div class="category-info">
				<app-category-title	[categoryName]="article.category_name"
											[colorHex]="article.category_color"></app-category-title>
			</div>
			<div class="art-content" [innerHtml]="article.content | safe:'html'">
			</div>
		</div>
	</div>
	<div class="other-articles scroll">
		<h5 class="text-center other-articles-title"><strong>Otros Artículos de Interés</strong></h5>
		<div *ngFor="let articleCat of articlesByCategory; let i = index;" class="article" [routerLink]="['/articles/view', articleCat.id_article]">
			<div class="other-art-image">
				<img [src]="'assets/img/articles/' + articleCat.image" alt="Article Image">
			</div>
			<div class="other-art-info">
				<div class="title-article">
					<p class="title p-0"> {{ articleCat.title }} </p>
				</div>
				<div class="description-article">
					<p class="description-text"> {{ articleCat.desc_long }} </p>
				</div>
			</div>
		</div>
	</div>
</div>