.header-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 1rem;
}
@media screen and (max-width: 768px) {
	.header-section {
		justify-content: center;
	}
}