.category-title-box {
	display: flex;
	align-items: center;
}
	.category-title-content {
		display: flex;
		gap: .5rem;
		justify-content: center;
		align-items: center;
		padding: .3rem 1rem;
		max-width: 100%;
	}
	@media screen and (max-width: 768px) {
		.category-title-content {
			min-width: 250px;
		}
	}
	.category-title-content .category-text {
		text-transform: uppercase;
		color: #fff;
		padding: 0;
		margin: 0;
		white-space: nowrap;
	}
	@media screen and (max-width: 768px) {
		.category-title-content .category-text {
			white-space: inherit;
		}
	}
	.category-title-content img {
		max-width: 25px;
	}

	.category-title-divider {
		display: inline-block;
		height: 5px;
		width: 100%;
		margin-left: .5rem;
	}