<header>
	<div class="bars">
		<app-navbar></app-navbar>
		<app-search-bar></app-search-bar>
		<app-categories-bar></app-categories-bar>
	</div>
	<div class="header-content container">
		<div class="main-article"></div>
		<div class="last-video"></div>
		<div class="previous-article"></div>
		<div class="previous-video"></div>
	</div>
</header>

<section class="first-section container">
	<div class="category articles main">

	</div>
	<div class="category articles secondary">

	</div>
	<div class="category videos">

	</div>
</section>