header {
	height: 100vh;
	max-height: 100vh;
}
	.header-content {
		display: grid;
		grid-template-columns: 50% 25% 25%;
		grid-template-rows: 50% 50%;
		height: 420px;
		gap: 1rem;
	}
		.main-article {
			grid-column: 1 / 2;
			grid-row: 1 / 3;
			background-color: orange;
		}
		.last-video {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			background-color: aqua;
		}
		.previous-article {
			grid-column: 3 / 4;
			grid-row: 1 / 2;
			background-color: hotpink;
		}
		.previous-video {
			grid-column: 2 / 4;
			grid-row: 2 / 3;
			background-color: brown;
		}