<app-full-nav-bar></app-full-nav-bar>

<section class="about-us-section container">
	<app-section-title [title]="'Nosotros'"></app-section-title>
	
	<div class="about-us-info">
		<p class="text1">El Centro de Innovación y Desarrollo profesional Integral es una plataforma cuya misión es desarrollar las habilidades de emprendedores y profesionales de todos los ámbitos, ofreciendo un entorno de aprendizaje accesible, innovador, colaborativo y completamente en línea. El CDIPI tiene como objetivo ayudar al desarrollo de habilidades prácticas, a través de la experiencia y la resolución de problemas concretos en los negocios.</p>
		<img src="assets/img/aboutus/aboutus.jpg" alt="About Us Image">
		<p class="text2">Se centra en la adquisición de las competencias necesarias para la puesta en marcha y el crecimiento empresarial, cómo también en el crecimiento personal de los emprendedores. Su experiencia se basa en las habilidades de un equipo de expertos con más de 10 años de experiencia en diversos campos como el desarrollo personal, la gestión empresarial, las tecnologías, etc.</p>
	</div>
	<div class="banner-horizontal">
		<div class="services-box">
			<div class="service">
				<div class="icon-service">
					<img src="assets/img/home/services/coaching.png" alt="Coahing Image">
				</div>
				<div class="description-service">
					<h6 class="title">Coaching Profesional</h6>
				</div>
			</div>
			<div class="service">
				<div class="icon-service">
					<img src="assets/img/home/services/online.png" alt="Online Image">
				</div>
				<div class="description-service">
					<h6 class="title">Capacitación Virtual</h6>
				</div>
			</div>
			<div class="service">
				<div class="icon-service">
					<img src="assets/img/home/services/certification.png" alt="Certification Image">
				</div>
				<div class="description-service">
					<h6 class="title">Certificación</h6>
				</div>
			</div>
		</div>
	</div>
</section>

<app-footer></app-footer>