<app-full-nav-bar></app-full-nav-bar>

<section class="about-us-section container">
	<app-section-title [title]="'Nosotros'"></app-section-title>
	
	<div class="about-us-info">
		<p class="text1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure necessitatibus eos possimus, corrupti rerum, quaerat ad qui officia itaque expedita vel tempore dolore consequatur, dignissimos dolorem! Soluta nemo eligendi suscipit.</p>
		<img src="assets/img/aboutus/aboutus.jpg" alt="About Us Image">
		<p class="text2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum perspiciatis asperiores rerum eius ipsum dignissimos corporis aliquid, ut est recusandae iusto optio, magni obcaecati ducimus esse fuga molestias impedit cumque?</p>
	</div>
	<div class="banner-horizontal">
		<div class="services-box">
			<div class="service">
				<div class="icon-service">
					<img src="assets/img/home/services/coaching.png" alt="Coahing Image">
				</div>
				<div class="description-service">
					<h6 class="title">Coaching Profesional</h6>
				</div>
			</div>
			<div class="service">
				<div class="icon-service">
					<img src="assets/img/home/services/online.png" alt="Online Image">
				</div>
				<div class="description-service">
					<h6 class="title">Capacitación Virtual</h6>
				</div>
			</div>
			<div class="service">
				<div class="icon-service">
					<img src="assets/img/home/services/certification.png" alt="Certification Image">
				</div>
				<div class="description-service">
					<h6 class="title">Certificación</h6>
				</div>
			</div>
		</div>
	</div>
</section>

<app-footer></app-footer>