<nav class="categories-nav">
	<div class="categories container">
		<div class="category">
			<p>Profesionales</p>
		</div>
		<div class="category">
			<p>Inmigración</p>
		</div>
		<div class="category">
			<p>Empleos</p>
		</div>
		<div class="category">
			<p>Innovación</p>
		</div>
		<div class="category">
			<p>Residencias</p>
		</div>
		<div class="category">
			<p>Oportunidades</p>
		</div>
		<div class="category">
			<p>Cultura</p>
		</div>
		<div class="category">
			<p>Política</p>
		</div>
		<div class="category">
			<p>Tecnología</p>
		</div>
	</div>
</nav>